body {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eea849,
    #f46b45
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 5rem;

  border-radius: 3px;
}

header h1 {
  font-family: "Staatliches", cursive;

  font-size: 5rem;

  display: flex;
  align-items: center;
}

.pokedex-img {
  width: 4rem;
}

.search-container {
  display: flex;

  width: 100%;
  align-items: center;
  justify-content: center;

  padding: 14px;
}

.search-button {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;

  padding: 14px;

  cursor: pointer;

  background: linear-gradient(to right, #e2e2e2, #ffffff);

  border: 1px solid gray;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.magnifier-img {
  width: 1rem;

  margin: auto 5px;
}

header img {
  width: 20rem;
  height: auto;

  opacity: 0.7;
}

.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

  margin: 10px;

  border-radius: 25px;
  height: fit-content;
  width: 20%;

  box-shadow: 1px 1px 8px 1px black;

  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  );
}

.card:hover {
  transform: scale(1.2) rotate(365deg);
  transition: 250ms transform;
}

.card img {
  border-radius: 50%;
  margin: 8px;

  width: 15rem;

  border: #4d5874 4px solid;
}

.card h1 {
  font-weight: bold;
  margin-top: 5px;

  font-size: 1.5rem;
  letter-spacing: 1px;
  font-family: "Staatliches", cursive;
}

.card p {
  padding: 3.5px;
  font-family: "Roboto", sans-serif;
}

.card button {
  margin: 10px auto 5px auto;
  cursor: pointer;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 1) 60%,
    rgba(210, 210, 210, 1) 100%
  );

  border: 1px solid gray;
  border-radius: 10px;

  opacity: 0.8;
  transition: 600ms;
}

.card button:hover {
  opacity: 1;
}
